#projets {
  margin: 0%;
  padding-bottom: 4rem;
}

.projets__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.projets__item {
  margin: auto;
  width: 100%;
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projets__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.stack_image {
  display: flex;
  align-items: center;
}

.stack_title {
  writing-mode: vertical-rl; /* or vertical-lr */
  text-orientation: upright;
  letter-spacing: -0.2em;
  line-height: 1.3rem;
}

.arrow {
  position: relative;
  display: inline-block;
  height: 1.8rem;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  border: 10px solid transparent;
  border-left: 10px solid #035491;
  transform: translateY(-50%);
}

.stack_arrow {
  display: flex;
  flex-direction: column;
}

.projets__item-image {
  position: relative;
  border: 4px solid #035491;
  border-radius: 1.5rem;
  overflow: hidden;
}

.projets__item-image .new_div {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcf9f0;
}

.projets__item-image img {
  transition: opacity 0.3s ease-in-out;
}

.projets__item-image:hover img {
  opacity: 0;
}

.projets__item-image:hover .new_div {
  opacity: 1;
}

.image_title_link {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf9f0;
  border-radius: 2rem;
  border: 4px solid #035491;
  padding: 1rem;
}

.new_div h5 {
  text-align: center;
}

.projets__item h5 {
  margin: 1.2rem 0 1.2rem;
  text-align: center;
}

.projets__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.image_description {
  display: flex;
  gap: 2rem;
}

.stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.front {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

.front-1 {
  text-align: center;
}

.back {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

.projets__details-icon {
  font-size: 1.7rem;
}

@media screen and (max-width: 1300px) {
  .stack {
    row-gap: 0.7rem;
  }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES)===========*/
@media screen and (max-width: 1024px) {
  .projets__item {
    width: 30%;
    min-width: 242px;
    padding: 1.2rem;
  }

  .stack {
    row-gap: 0.8rem;
  }

  .image_title_link {
    width: 100%;
  }

  .description {
    display: none;
  }

  .stack_arrow {
    display: none;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES)===========*/
@media screen and (max-width: 600px) {
  .projets__container {
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .projets__item {
    width: 70%;
    padding-bottom: 0.7rem;
    margin: auto;
  }

  .projets__item-cta {
    justify-content: center;
  }

  .projets__item h5 {
    margin: 0.8rem 0 0.8rem;
    text-align: center;
  }

  a {
    font-size: 0.8rem;
  }

  .btn {
    padding: 0.5rem 0.8rem;
  }

  .stack {
    row-gap: 2rem;
  }
}
